BasedOnStyle : Mozilla
ColumnLimit: 100
AlwaysBreakTemplateDeclarations: true
RequiresClausePosition: OwnLine
IndentRequiresClause: true
AlwaysBreakAfterReturnType: All
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: None
