BasedOnStyle : Mozilla
ColumnLimit: 100
AlwaysBreakTemplateDeclarations: true
RequiresClausePosition: OwnLine
IndentRequiresClause: true
AlwaysBreakAfterReturnType: All
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: None
SeparateDefinitionBlocks: Always
FixNamespaceComments: true
NamespaceIndentation: Inner
